@model  G_APIs.Models.BankAccount
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row layout-top-spacing">
    <divx id="custom_styles" class="col-lg-12 col-md-12 pl-0">

        @using (Html.Box(cssClass: " col-md-4 col-sm-12 float-left"))
        {
            <div class="statbox widget box box-shadow">
                <div class="row d-block text-center">
                    <div class="widget-content widget-content-area">
                        <p class="h6 font-weight-bold">لطفا بانک مورد نظر را انتخاب کنید.</p>
                        <div class="">
                            <div class="avatar avatar-xl mt-1 mr-2">
                                <img alt="avatar" src="~/Content/assets/img/bank/melat.png" class="rounded" data-value="1" title="ملی">
                            </div>
                            <div class="avatar avatar-xl mt-1 mr-2">
                                <img alt="avatar" src="~/Content/assets/img//bank/saderat.png" class="rounded" data-value="2" title="ملت">
                            </div>
                            <div class="avatar avatar-xl mt-1 mr-2">
                                <img alt="avatar" src="~/Content/assets/img//bank/melli.png" class="rounded" data-value="3" title="صادرات">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <form form class="bankForm" id="bankForm" action="javascript:void(0);" novalidate>

                        <input id="bankname" name="BankName" type="hidden" />

                        <div class="">
                            @Html.EditorFor(x => x.CardNumber, new { HtmlAttributes = new { disabled = "", @class = "" } })
                            @*<label for="validationCustom01">شماره کارت</label>
                                <input id="cardNumber" name="CardNumber" type="text" class="form-control text-right" value="@Model.CardNumber" required
                                      >
                                <div class="invalid-feedback">
                                    وارد کردن این فیلد الزامیست
                                </div>*@
                        </div>
                        <div class="mt-3">
                            <label for="validationCustom01">شماره حساب</label>
                            <input name="AccountNumber" type="number" class="form-control text-right" value="@Model.Hesab" required>
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>

                        <div class=" mt-3">
                            <label for="validationCustom01">شبا  </label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">IR</div>
                                </div>
                                <input name="Shaba" type="number" class="form-control text-right " value="@Model.Shaba" required>
                                <div class="invalid-feedback">
                                    وارد کردن این فیلد الزامیست
                                </div>
                            </div>
                        </div>

                        <div class="field-wrapper  mt-4">
                            <button class="btn btn-primary submit-fn col-md-5 float-right" type="submit">  ذخیره      </button>
                        </div>

                    </form>

                </div>
            </div>
        }

        @using (Html.Box(title: "کارت های ذخیره شده", cssClass: "statbox widget box box-shadow col-md-8 col-sm-12 float-right"))
        {
            <div class="widget-content widget-content-area br-6">

                <div class="table-responsive mb-4 mt-4">

                    <table id="report1" class="table table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>بانک</th>
                                <th>شماره کارت</th>
                                <th>شماه حساب</th>
                                <th>  شبا</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-success">
                                <td>ملت </td>
                                <td> 6104-1234-4543-3434</td>
                                <td>2342324 </td>
                                <td> Ir-234324234234242423</td>
                                <td>
                                    <a href="@Url.Action("ActiveCard",new {CardNumber="6104-1234-4543-3434",ActiveCard=false})" title="غیر فعال کردن">
                                        <i class="fa fa-times-circle text-danger pointer "></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table-danger">
                                <td>ملت </td>
                                <td> 6104-1234-4543-3434</td>
                                <td>2342324 </td>
                                <td> Ir-234324234234242423</td>
                                <td>
                                    <a href="@Url.Action("ActiveCard")" title="  فعال کردن">
                                        <i class="fa fa-times-circle text-success pointer"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table-success">
                                <td>ملت </td>
                                <td> 6104-1234-4543-3434</td>
                                <td>2342324 </td>
                                <td> Ir-234324234234242423</td>
                                <td>
                                    <a href="@Url.Action("ActiveCard")" title="غیر فعال کردن">
                                        <i class="fa fa-times-circle text-danger pointer"></i>
                                    </a>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        }
</div>

<script>

    $(function () {

        $('#cardNumber').inputmask("9999-9999-9999-9999");

        $('.avatar img').click(function () {
            $('.avatar img').removeClass('active');
            $(this).addClass('active');
        })

    })

    $('#bankForm').ajaxForm({

        validation: true,
        url: '/Fund/AddBankAccount',
        jwt: false,
        blockui: true,
        mixin: true,

        success: function (response) {

            console.log(response)
            if (response.result) {

                localStorage.setItem('auth', response.data);
                window.location.href = '/Home';

            }
        },
        // error: function (xhr, status, error) {
        //     $('#loginResult').html(response.message).show();
        //     // $('#loginResult').html('خطایی رخ داده لطفا دوباره تلاش نمایید.').removeClass('hide');
        //     console.error('Form submission failed:', error);
        // }
    });


</script>