@using G_APIs.Models.ComponentModels
@model G_APIs.Models.User
@{
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<style>
    .forget-pass {
        opacity: 0;
        transition: all .75s ease;
        display: none;
    }

        .forget-pass.show {
            opacity: 1;
            display: block;
        }

    .forget-user {
        opacity: 0;
        transition: all .75s ease;
        display: none;
    }

        .forget-user.show {
            opacity: 1;
            display: block;
        }
</style>

<div class="forget-user show">
    <div class="form-content">
        <h1 class="register-header"> فراموشی رمز عبور <a href="#"><span class="brand-name"> حساب کاربری </span></a></h1>
        <form id="frmForgotPassword" class="clearfix" action="javascript:void(0);" novalidate>
            @Html.EditorFor(x => x.ForgotUsername)
            @* @Html.EditorFor(x => x.NationalCode, new { HtmlAttributes = new { pattern = @"^(\d){10}$", @required = true } })*@
            <div id="result" class="alert alert-danger hide" role="alert"></div>
            <div class="text-center">
                @Html.Partial("_GoldButton", new GoldButton()
                {
                    ButtonType = GoldButtonTypes.submit,
                    ButtonShape = GoldButtonShape.rectangle,
                    Name = "btnForget",
                    Icon = "fa fa-paper-plane fa-1x",
                    Class = "btn btn-info col-md-5",
                    Text = "ارسال کد"
                })
            </div>
        </form>
    </div>
</div>

<div class="forget-pass">
    <div class="form-content">
        <h1 class="register-header"> فراموشی رمز عبور <a href="#"><span class="brand-name"> حساب کاربری </span></a></h1>
        <form id="frmSetPassword" class="clearfix" action="javascript:void(0);" novalidate>
            @Html.HiddenFor(x => x.ForgotUsername)
            @Html.EditorFor(x => x.OTP, new { HtmlAttributes = new { pattern = @"^(\d){6}$" } })
            @Html.EditorFor(x => x.Password)
            @Html.EditorFor(x => x.PasswordRepeat)
            <div id="result" class="alert alert-danger hide" role="alert"></div>
            <div class="text-center">
                @Html.Partial("_GoldButton", new GoldButton()
                {
                    ButtonType = GoldButtonTypes.submit,
                    ButtonShape = GoldButtonShape.rectangle,
                    Name = "btnForget",
                    Icon = "fa fa-check-square-o fa-1x",
                    Class = "btn btn-success col-md-6",
                    Text = "ثبت رمز عبور جدید"
                })
            </div>
        </form>
    </div>
</div>

<script>
    $('#frmForgotPassword').ajaxForm({
        validation: true,
        url: '/Account/ForgotPassword',
        jwt: false,
        blockui: true,
        mixin: true,
        success: function (response) {
            console.log(response)
            if (response.result) {
                var input = $("input[name='ForgotUsername'][type='text']");
                var hidden = $("input[name='ForgotUsername'][type='hidden']");
                hidden.val(input.val());
                $(".forget-pass, .forget-user").toggleClass('show');
            }
        },
        error: function (xhr, status, error) {
            $('#result').html(response.message).show();
            console.error('Form submission failed:', error);
        }
    });
    $('#frmSetPassword').ajaxForm({
        validation: true,
        url: '/Account/SetPassword',
        jwt: false,
        blockui: true,
        mixin: true,
        success: function (response) {
            console.log(response)
            if (response.result) {
                var redirect = setTimeout(() => {
                    window.location.href = "/Account/Login";
                    window.clearTimeout(redirect);
                }, 1500);
            }
        },
        error: function (xhr, status, error) {
            $('#result').html(response.message).show();
            console.error('Form submission failed:', error);
        }
    });
</script>
