@using G_APIs.Models.ComponentModels
@model G_APIs.Models.User
@{
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<style>
    .forget-pass {
        opacity: 0;
        transition: all .75s ease;
        display: none;
    }

        .forget-pass.show {
            opacity: 1;
            display: block;
        }

    .forget-user {
        opacity: 0;
        transition: all .75s ease;
        display: none;
    }

        .forget-user.show {
            opacity: 1;
            display: block;
        }
</style>

<div class="form-content">
    <h1 class="register-header"> فراموشی رمز عبور <a href="#"><span class="brand-name"> حساب کاربری </span></a></h1>
    <form id="frmForgotPassword" class="clearfix" action="javascript:void(0);" novalidate>
        <div class="forget-user show">
            @Html.EditorFor(x => x.ForgotUsername)
            @* @Html.EditorFor(x => x.NationalCode, new { HtmlAttributes = new { pattern = @"^(\d){10}$", @required = true } })*@
            <div id="result" class="alert alert-danger hide" role="alert"></div>
            <div class="text-center">
                @Html.Partial("_GoldButton", new GoldButton()
           {
               ButtonType = GoldButtonTypes.submit,
               ButtonShape = GoldButtonShape.circular,
               Name = "btnForgetUser",
               Icon = "fa fa-angle-right fa-1x",
               Class = "btn btn-xl btn-circular btn-info",
               OnClick = "performSendOTP()"
           })
            </div>

        </div>
        <div class="forget-pass">
            @Html.EditorFor(x => x.OTP, new { HtmlAttributes = new { pattern = @"^(\d){6}$" } })
            @Html.EditorFor(x => x.Password)
            <div id="result" class="alert alert-danger hide" role="alert"></div>
            <div class="text-center">
                @Html.Partial("_GoldButton", new GoldButton()
           {
               ButtonType = GoldButtonTypes.submit,
               ButtonShape = GoldButtonShape.circular,
               Name = "btnForgetPass",
               Icon = "fa fa-check-square-o fa-1x",
               Class = "btn btn-xl btn-circular btn-success",
               OnClick = "performForgetPassword()"
           })
            </div>
        </div>
    </form>
</div>

<script>
    function performSendOTP() {
        debugger;
        $('#frmForgotPassword').ajaxForm({
            validation: true,
            url: '/Account/ForgotPassword',
            jwt: false,
            blockui: true,
            mixin: true,
            success: function (response) {
                debugger;
                console.log(response)
                if (response.result) {
                    $(".forget-pass, .forget-user").toggleClass('show');
                }
            },
            error: function (xhr, status, error) {
                $('#result').html(response.message).show();
                console.error('Form submission failed:', error);
            }
        });
    }
    function performForgetPassword() {
        $('#frmForgotPassword').ajaxForm({
            validation: true,
            url: '/Account/SetPassword',
            jwt: false,
            blockui: true,
            mixin: true,
            success: function (response) {
                debugger;
                console.log(response)
                if (response.result) {

                }
            },
            error: function (xhr, status, error) {
                $('#result').html(response.message).show();
                console.error('Form submission failed:', error);
            }
        });
    }
</script>
