@model  G_APIs.Models.User

<link href="~/Content/assets/css/elements/avatar.css" rel="stylesheet" type="text/css">
<script src="~/Content/assets/js/jquery.mask.js"></script>

<div class="row layout-top-spacing">
    <div id="custom_styles" class="col-lg-12 layout-spacing col-md-8">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>پروفابل من</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">

                <form class="profileForm" id="profileForm" action="javascript:void(0);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-8 mb-4">
                                @Html.EditorFor(x => x.Name)
                            </div>
                            <div class="col-md-8 mb-4">
                                @Html.EditorFor(x => x.Family)

                            </div>
                            <div class="col-md-8 mb-4">
                                <input name="BirthDate" type="text" id="birthDate" class="form-control text-right" value="@Model.BirthDate" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8 mb-4">
                                <label for="validationCustom01"> جنسیت  </label>
                                <select name="Gender" class="custom-select select2" required="">
                                    <option value="" selected="@Model.Gender">لطفا انتخاب کنید</option>
                                    <option value="1">مرد</option>
                                    <option value="0">زن</option>
                                </select>
                                <div class="invalid-feedback">
                                    وارد کردن این فیلد الزامیست
                                </div>
                            </div>
                            <div class="col-md-8 mb-4">
                                @Html.EditorFor(x => x.Father)
                            </div>
                        </div>
                    </div>
                    <div class="field-wrapper text-right">
                        <button class="btn btn-primary mt-3" type="submit">ذخیره  </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        $('#birthDate').mask('0000/00/00');

    })

    $('#profileForm').ajaxForm({

        validation: true,
        url: '/Account/CompleteProfile',
        jwt: true,
        blockui: true,
        mixin: true,

        success: function (response) {

            if (response.result) {


            }
        },
        // error: function (xhr, status, error) {
        //     $('#loginResult').html(response.message).show();
        //     // $('#loginResult').html('خطایی رخ داده لطفا دوباره تلاش نمایید.').removeClass('hide');
        //     console.error('Form submission failed:', error);
        // }
    });

</script>