@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model UsersList

@Html.Partial("_FormTitle", new FormTitle()
{
    Icon = Html.Raw("<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"55\" height=\"55\" viewBox=\"0 0 512 512\" id=\"network-access\"><path fill=\"#0062A6\" d=\"M255.766,181.729c-46.357,0-84.072,37.715-84.072,84.071c0,46.359,37.715,84.074,84.072,84.074\r\n\t\tc46.359,0,84.074-37.715,84.074-84.074C339.84,219.443,302.125,181.729,255.766,181.729z M184.639,272.124h28.484\r\n\t\tc0.299,8.207,1.164,16.057,2.537,23.391h-24.816C187.52,288.282,185.369,280.405,184.639,272.124z M262.09,223.438v-27.131\r\n\t\tc6.648,3.824,13.092,13.414,17.592,27.131H262.09z M283.012,236.088c1.453,7.115,2.418,14.959,2.744,23.386H262.09v-23.386H283.012\r\n\t\tz M249.441,196.307v27.131h-17.59C236.354,209.721,242.793,200.131,249.441,196.307z M249.441,236.088v23.386h-23.664\r\n\t\tc0.328-8.427,1.291-16.271,2.746-23.386H249.441z M213.123,259.474h-28.484c0.73-8.28,2.881-16.153,6.205-23.386h24.816\r\n\t\tC214.287,243.42,213.422,251.268,213.123,259.474z M225.777,272.124h23.664v23.391h-20.918\r\n\t\tC227.068,288.399,226.105,280.554,225.777,272.124z M249.441,308.165v27.127c-6.646-3.822-13.088-13.412-17.59-27.127H249.441z\r\n\t\t M262.09,335.292v-27.127h17.592C275.18,321.88,268.738,331.47,262.09,335.292z M262.09,295.515v-23.391h23.666\r\n\t\tc-0.326,8.43-1.291,16.275-2.748,23.391H262.09z M298.41,272.124h28.484c-0.732,8.281-2.881,16.158-6.205,23.391h-24.814\r\n\t\tC297.246,288.181,298.111,280.331,298.41,272.124z M298.41,259.474c-0.299-8.206-1.164-16.054-2.535-23.386h24.814\r\n\t\tc3.324,7.232,5.473,15.105,6.205,23.386H298.41z M313.225,223.438h-20.357c-2.709-9.277-6.291-17.383-10.549-23.92\r\n\t\tC294.711,204.5,305.395,212.846,313.225,223.438z M229.213,199.518c-4.256,6.537-7.838,14.643-10.545,23.92h-20.359\r\n\t\tC206.137,212.846,216.822,204.5,229.213,199.518z M198.309,308.165h20.359c2.707,9.277,6.291,17.383,10.547,23.92\r\n\t\tC216.824,327.103,206.139,318.755,198.309,308.165z M282.318,332.085c4.258-6.537,7.84-14.643,10.549-23.92h20.357\r\n\t\tC305.395,318.755,294.709,327.103,282.318,332.085z\"></path><path fill=\"#FD7851\" d=\"M473.15,60.545c7.637-5.871,12.318-15.389,11.418-25.957c-1.172-13.811-12.248-25.211-26.025-26.734\r\n\t\tc-17.801-1.971-32.867,11.912-32.867,29.314c0,9.537,4.531,18.006,11.555,23.396c1.586,1.219,1.186,3.672-0.668,4.43\r\n\t\tc-17.912,7.336-30.543,22.615-30.543,43.172v20.916c0,4.76,3.859,8.621,8.621,8.621h81.076c4.758,0,8.619-3.861,8.619-8.621\r\n\t\tv-20.916c0-20.559-12.631-35.838-30.547-43.174C471.926,64.23,471.553,61.773,473.15,60.545z\"></path><path fill=\"#61D0A9\" d=\"M74.795 60.545c7.635-5.871 12.318-15.389 11.42-25.957C85.041 20.777 73.965 9.377 60.188 7.854 42.389 5.883 27.32 19.766 27.32 37.168c0 9.537 4.533 18.006 11.555 23.396 1.588 1.219 1.186 3.672-.666 4.43C20.295 72.33 7.664 87.609 7.664 108.166v20.916c0 4.76 3.861 8.621 8.623 8.621h81.072c4.762 0 8.621-3.861 8.621-8.621v-20.916c0-20.559-12.629-35.838-30.545-43.174C73.57 64.23 73.199 61.773 74.795 60.545zM473.15 427.175c7.637-5.871 12.318-15.387 11.418-25.955-1.172-13.811-12.248-25.211-26.025-26.736-17.801-1.969-32.867 11.914-32.867 29.314 0 9.537 4.531 18.008 11.555 23.396 1.586 1.219 1.186 3.672-.668 4.432-17.912 7.336-30.543 24.916-30.543 45.469v18.619c0 4.762 3.859 8.619 8.621 8.619h81.076c4.758 0 8.619-3.857 8.619-8.619v-18.619c0-20.557-12.631-38.137-30.547-45.473C471.926 430.862 471.553 428.405 473.15 427.175z\"></path><path fill=\"#FD7851\" d=\"M74.795,427.175c7.635-5.871,12.318-15.387,11.42-25.955c-1.174-13.811-12.25-25.211-26.027-26.736\r\n\t\tc-17.799-1.969-32.867,11.914-32.867,29.314c0,9.537,4.533,18.008,11.555,23.396c1.588,1.219,1.186,3.672-0.666,4.432\r\n\t\tc-17.914,7.336-30.545,24.916-30.545,45.469v18.619c0,4.762,3.861,8.619,8.623,8.619h81.072c4.762,0,8.621-3.857,8.621-8.619\r\n\t\tv-18.619c0-20.557-12.629-38.137-30.545-45.473C73.57,430.862,73.199,428.405,74.795,427.175z\"></path><path fill=\"#7ED4F8\" d=\"M263.047,381.245l-0.785-12.627c6.383-0.396,12.738-1.389,18.895-2.949l3.104,12.264\r\n\t\tC277.352,379.683,270.211,380.798,263.047,381.245z M246.35,381.093c-7.152-0.578-14.268-1.824-21.152-3.705l3.338-12.201\r\n\t\tc6.127,1.676,12.461,2.785,18.83,3.297L246.35,381.093z M300.127,372.655l-4.85-11.68c5.873-2.443,11.559-5.453,16.893-8.953\r\n\t\tl6.936,10.58C313.115,366.53,306.73,369.913,300.127,372.655z M209.426,371.813c-6.543-2.865-12.865-6.365-18.789-10.408\r\n\t\tl7.129-10.449c5.279,3.6,10.908,6.717,16.732,9.268L209.426,371.813z M332.381,352.462l-8.383-9.473\r\n\t\tc4.777-4.229,9.184-8.92,13.1-13.947l9.98,7.771C342.686,342.454,337.738,347.72,332.381,352.462z M177.549,351.015\r\n\t\tc-5.27-4.836-10.117-10.191-14.406-15.918l10.121-7.588c3.824,5.105,8.146,9.879,12.838,14.189L177.549,351.015z M356.371,322.923\r\n\t\tl-10.998-6.254c3.156-5.547,5.803-11.414,7.867-17.434l11.967,4.105C362.887,310.101,359.918,316.692,356.371,322.923z\r\n\t\t M154.115,321.038c-3.426-6.291-6.273-12.932-8.465-19.734l12.039-3.881c1.951,6.055,4.486,11.967,7.535,17.568L154.115,321.038z\r\n\t\t M369.465,287.171l-12.432-2.322c1.164-6.238,1.754-12.645,1.754-19.049l-0.002-0.451h12.65l0.002,0.357\r\n\t\tC371.438,272.979,370.775,280.171,369.465,287.171z M141.691,285.062c-1.059-6.32-1.596-12.801-1.596-19.262\r\n\t\tc0-0.715,0.006-1.424,0.018-2.137l12.65,0.211c-0.012,0.641-0.018,1.283-0.018,1.926c0,5.764,0.479,11.541,1.422,17.168\r\n\t\tL141.691,285.062z M357.666,250.525c-0.936-6.301-2.471-12.547-4.561-18.564l11.949-4.15c2.35,6.758,4.074,13.777,5.123,20.859\r\n\t\tL357.666,250.525z M154.098,249.059l-12.484-2.039c1.156-7.076,2.982-14.07,5.43-20.787l11.887,4.332\r\n\t\tC156.752,236.539,155.127,242.762,154.098,249.059z M347.209,218.301c-2.939-5.645-6.428-11.053-10.373-16.074l9.951-7.811\r\n\t\tc4.424,5.635,8.342,11.705,11.643,18.045L347.209,218.301z M165.025,216.977l-11.137-6c3.395-6.297,7.4-12.309,11.906-17.879\r\n\t\tl9.834,7.959C171.615,206.016,168.045,211.373,165.025,216.977z M326.826,191.211c-4.617-4.4-9.668-8.393-15.012-11.863\r\n\t\tl6.891-10.609c5.998,3.896,11.666,8.377,16.852,13.316L326.826,191.211z M185.801,190.182l-8.594-9.281\r\n\t\tc5.264-4.873,10.998-9.27,17.041-13.07l6.734,10.709C195.598,181.924,190.49,185.842,185.801,190.182z M298.773,172.158\r\n\t\tc-5.789-2.662-12.877-5.15-19.061-6.688l4.078-11.922c6.943,1.732,13.766,4.127,20.27,7.119L298.773,172.158z M214.109,171.547\r\n\t\tl-5.121-11.566c6.553-2.9,13.406-5.195,20.371-6.818l2.875,12.316C226.037,166.926,219.939,168.967,214.109,171.547z\"></path><path fill=\"#8BBCE2\" d=\"M255.074,175.455c-19.549,0-35.449-15.902-35.449-35.449s15.9-35.449,35.449-35.449\r\n\t\t\ts35.449,15.902,35.449,35.449S274.623,175.455,255.074,175.455z M255.074,117.205c-12.572,0-22.799,10.229-22.799,22.801\r\n\t\t\ts10.227,22.801,22.799,22.801c12.574,0,22.801-10.229,22.801-22.801S267.648,117.205,255.074,117.205z\"></path><path fill=\"#D13C2A\" d=\"M253.896,155.037c-1.713,0-3.361-0.697-4.555-1.941l-15.771-16.395l9.113-8.768l10.615,11.033\r\n\t\tl30.518-40.711l10.121,7.586l-34.98,46.664c-1.111,1.484-2.818,2.404-4.67,2.52C254.156,155.031,254.025,155.037,253.896,155.037z\"></path><path fill=\"#3081BE\" d=\"M75.475 209.305v12.65h12.65v-12.65H75.475zM75.475 287.812v12.65h12.65v-12.65H75.475z\"></path><path fill=\"#8BBCE2\" d=\"M113.541 212.051l-17.867-19.273c-1.219-1.314-3.115-1.75-4.785-1.096-1.668.654-2.764 2.264-2.764 4.055v13.568H63.352v-53.242h-12.65v59.566c0 3.494 2.832 6.326 6.324 6.326h31.1v12.732c0 1.799 1.107 3.412 2.785 4.061s3.582.197 4.793-1.133l17.867-19.676C115.09 216.266 115.078 213.709 113.541 212.051zM113.541 291.528l-17.867-19.275c-1.219-1.313-3.115-1.748-4.785-1.094-1.668.654-2.764 2.264-2.764 4.055v12.598h-31.1c-3.492 0-6.324 2.832-6.324 6.324v61.867h12.65v-55.541h24.773v13.701c0 1.799 1.107 3.414 2.785 4.063s3.582.197 4.793-1.133l17.867-19.676C115.09 295.743 115.078 293.185 113.541 291.528zM449.398 156.063v53.242h-24.773v-13.568c0-1.791-1.096-3.4-2.764-4.055-1.67-.654-3.566-.219-4.785 1.096l-17.867 19.273c-1.537 1.658-1.551 4.215-.029 5.889l17.867 19.676c1.211 1.33 3.115 1.781 4.793 1.133s2.785-2.262 2.785-4.061v-12.732h31.1c3.492 0 6.324-2.832 6.324-6.326v-59.566H449.398zM455.725 287.812h-31.1v-12.598c0-1.791-1.096-3.4-2.764-4.055-1.67-.654-3.566-.219-4.785 1.094l-17.867 19.275c-1.537 1.656-1.551 4.215-.029 5.889l17.867 19.676c1.211 1.33 3.115 1.781 4.793 1.133s2.785-2.264 2.785-4.063v-13.701h24.773v55.541h12.65v-61.867C462.049 290.644 459.217 287.812 455.725 287.812z\"></path><path fill=\"#3081BE\" d=\"M424.625 209.305v12.65h12.65v-12.65H424.625zM424.625 287.812v12.65h12.65v-12.65H424.625z\"></path></svg>"),
    Title = "مدیریت کاربران",
    Description = "سرویس مدیریت و گزارش جامع کاربران"
})

<div class="row gold-row">
    @using (Html.Box(title: "جتسجو", col: 12, iconType: BoxIconTypes.search))
    {
        <form form class="frmSearchUsers" id="frmSearchUsers" action="javascript:void(0);" novalidate>
            <div class="row">
                <div class="col-md-3">
                    @Html.EditorFor(x => x.FromDate, new { HtmlAttributes = new { @class = "date", type = "gold-date" } })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(x => x.ToDate, new { HtmlAttributes = new { @class = "date", type = "gold-date" } })
                </div>
                <div class="col-md-3">
                    <div class="mt-3">
                        <div class="form-group">
                            <label for="Roles">سطح دسترسی</label>
                            @Html.DropDownListFor(x => x.Roles, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "select2" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="transaction-result"></div>
            <div class="col-auto field-wrapper command-panel">
                @Html.Partial("_GoldButton", new GoldButton()
           {
               ButtonType = GoldButtonTypes.submit,
               Name = "btnSearch",
               Icon = "fa fa-search fa-1x",
               Class = "btn btn-primary",
               Text = "جستجو"
           })
            </div>
        </form>
    }
</div>
<div class="report-result row"></div>

<script>
    $('#frmSearchUsers').ajaxForm({
        validation: true,
        url: '/Account/UsersManagementIndexData',
        jwt: true,
        blockui: true,
        mixin: true,
        target: ".report-result",
        success: function (data) { }
    });
</script>