@using G_APIs.Models
@model IEnumerable<GoldRepositoryManagementReportVM>
@{
    Layout = null;
}

<style>
    i.fa.fa-arrow-circle-up {
        color: #007f5f;
        font-size: 1.5rem !important;
    }

    i.fa.fa-arrow-circle-down {
        color: #bc4749;
        font-size: 1.5rem !important;
    }

    td.last-value {
        font-weight: 600;
        color: #bc4749 !important;
    }

    td.new-value {
        font-weight: 600;
        color: #007f5f !important;
    }

    td.current-value {
        font-weight: 600;
        color: #ff7b00 !important;
    }
</style>

@using (Html.Box(title: "نتیجه گزارش", col: 12))
{
    <table id="rptGoldRepository" class="datatable table table-hover non-hover table-striped" style="width:100%">
        <thead class="">
            <tr>
                <th>#</th>
                <th>خرید/فروش</th>
                <th>شناسه</th>
                <th>کاربر ثبت کننده</th>
                <th>نوع کاربری</th>
                <th>نوع طلا</th>
                <th>عیار</th>
                <th>وزن جدید</th>
                <th>وزن قبلی</th>
                <th>مقدار</th>
                <th>نوع تراکنش</th>
                <th>نوع صندوق</th>
                <th>تاریخ ویرایش/ثبت</th>
                <th>نوع عملیات</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                int index = 0;
                foreach (GoldRepositoryManagementReportVM item in Model)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td><i title="@(new[] { 2,3}.Contains(item.TransactionTypeId)?"خرید":"فروش")" class="fa @(new[] { 2,3}.Contains(item.TransactionTypeId)?"fa-arrow-circle-up":"fa-arrow-circle-down") primary" data-container="body" data-placement="top" data-html="true" data-original-title></i></td>
                        <td>@(item.TransactionId)</td>
                        <td>@(item.UserName)</td>
                        <td>@(item.Role)</td>
                        <td>@(item.GoldType)</td>
                        <td>@(item.Carat)</td>
                        <td class="new-value">@(item.NewGoldValue)</td>
                        <td class="last-value">@(item.LastGoldValue)</td>
                        <td class="current-value">@(item.Weight)</td>
                        <td>@(item.TransactionType)</td>
                        <td>@(item.GoldMaintenanceType)</td>
                        <td>@(item.RegPersianDate)</td>
                        <td>@(item.ArchiveOperation)</td>
                    </tr>
                }
            }
            else
            {
                <tr><td class="table-no-data text-center" colspan="13">داده یافت نشد</td></tr>
            }
        </tbody>
    </table>
}

<script>
    $('td i.primary').tooltip({
        template: '<div class="tooltip tooltip-success" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
        title: "Primary"
    });
</script>