@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model  WalletBankAccount

@Html.Partial("_FormTitle", new FormTitle()
{
    Icon = Html.Raw("<svg width=\"64px\" height=\"64px\" viewBox=\"0 0 1024 1024\" class=\"icon\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"#000000\"><g id=\"SVGRepo_bgCarrier\" stroke-width=\"0\"></g><g id=\"SVGRepo_tracerCarrier\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></g><g id=\"SVGRepo_iconCarrier\"><path d=\"M868 169l-65-17 65-18 18-65 18 65 65 18-65 17-18 65-18-65zM97 809l-41-10 41-10 9-41 10 41 41 10-41 10-10 41-9-41z\" fill=\"#faaf00\"></path><path d=\"M932 240l-25-6 25-6 6-25 6 25 25 6-25 6-6 25-6-25zM81 482l-23-5 23-6 6-23 5 23 24 6-24 5-5 24-6-24z\" fill=\"#faaf00\"></path><path d=\"M127 223m-9 0a9 9 0 1 0 18 0 9 9 0 1 0-18 0Z\" fill=\"#5546CB\"></path><path d=\"M926 824a25 25 0 1 1 25-25 25 25 0 0 1-25 25z m0-36a10 10 0 1 0 10 10 10 10 0 0 0-10-9z\" fill=\"#5546CB\"></path><path d=\"M853 275H174a32 32 0 0 0-32 32v24h742v-24a32 32 0 0 0-31-32z\" fill=\"#FFFFFF\"></path><path d=\"M853 255H174a52 52 0 0 0-52 52v418a52 52 0 0 0 52 52h679a52 52 0 0 0 52-52V307a52 52 0 0 0-52-52z m32 470v3a30 30 0 0 1-30 30H173a30 30 0 0 1-30-30V422h741zM143 402v-51h741v50z m-1-70v-25a32 32 0 0 1 32-32h679a32 32 0 0 1 32 32v24z\" fill=\"#5546CB\"></path><path d=\"M142 422v305a30 30 0 0 0 30 30h683a30 30 0 0 0 30-30V422H142z m249 281H175v-20h216z m105-69H175v-20h321z m0-59H175v-19h321z m354 128H608V555h242zM563 465l14-14 16 16 16-16 14 14-16 16 17 17-14 14-17-17-17 17-14-14 17-17z m-79 0l14-14 16 16 16-16 14 14-16 16 17 17-14 14-17-17-17 17-14-14 17-17z m-79 0l14-14 16 16 16-16 14 14-16 16 17 17-14 14-17-17-17 17-14-14 17-17z m-79 0l14-14 16 16 16-16 14 14-16 16 17 17-14 14-17-17-17 17-14-14 17-17z m-79 0l14-14 16 16 16-16 14 14-16 16 17 17-14 14-17-17-17 17-14-14 17-17z m-79 0l14-14 16 16 16-16 14 14-16 16 17 17-14 14-17-17-17 17-14-14 17-17z\" fill=\"#faaf00\"></path><path d=\"M182 512l18-17 17 17 14-14-17-17 15-16-14-14-15 16-16-16-14 14 16 16-18 17 14 14zM261 512l17-17 17 17 15-14-18-17 16-16-14-14-16 16-15-16-15 14 16 16-17 17 14 14zM340 512l17-17 17 17 14-14-17-17 16-16-15-14-15 16-16-16-14 14 16 16-18 17 15 14zM418 512l17-17 17 17 15-14-18-17 16-16-14-14-16 16-15-16-15 14 16 16-17 17 14 14zM497 512l17-17 17 17 14-14-17-17 16-16-14-14-16 16-16-16-14 14 16 16-17 17 14 14zM575 512l17-17 18 17 14-14-17-17 15-16-14-14-16 16-15-16-14 14 15 16-17 17 14 14z\" fill=\"#F97744\"></path><path d=\"M175 556h320v20H175zM175 614h320v20H175zM175 683h215v20H175z\" fill=\"#5546CB\"></path><path d=\"M628 575h201v107.83H628z\" fill=\"#FFFFFF\"></path><path d=\"M608 703h242V555H608z m20-128h202v108H628z\" fill=\"#5546CB\"></path><path d=\"M143 351h741v50.41H143z\" fill=\"#AFBCF3\"></path></g></svg>"),
    Title = "اطلاعات بانکی  ",
    Description = " تکمیل اطلاعات بانکی برای واریز و تبادل و برداشت انواع ارز    "
})

<script src="~/Content/plugins/input-mask/jquery.inputmask.bundle.min.js"></script>
@*<script src="~/Content/plugins/input-mask/input-mask.js"></script>*@

<div class="row gold-row">
    @using (Html.Box(col: 5))
    {
        <div class="row d-block text-center">
            <p class="h6 font-weight-bold">لطفا بانک مورد نظر را انتخاب کنید.</p>
            <div id="avatars">
                <div class="avatar avatar-xl mt-1 mr-2">
                    <img alt="avatar" src="~/Content/assets/img/bank/melat.png" class="rounded active" data-logo="melat.png" data-value="1" title="ملت">
                </div>
                <div class="avatar avatar-xl mt-1 mr-2">
                    <img alt="avatar" src="~/Content/assets/img//bank/saderat.png" class="rounded" data-logo="saderat.png" data-value="2" title="صادرات">
                </div>
                <div class="avatar avatar-xl mt-1 mr-2">
                    <img alt="avatar" src="~/Content/assets/img//bank/melli.png" class="rounded" data-logo="melli.png" data-value="3" title="ملی">
                </div>
            </div>
        </div>

        <form form class="bankForm" id="bankForm" action="javascript:void(0);" novalidate>

            <input type="hidden" value="1" id="bankId" name="BankId" />
            <input type="hidden" value="melat.png" id="logoPath" name="LogoPath" />

            @Html.EditorFor(x => x.Name)
            @Html.EditorFor(x => x.BankAccountNumber, new { HtmlAttributes = new { @class = "rtl", id = "bankAccountNumber", required="required" } })
            @Html.EditorFor(x => x.Hesab, new { HtmlAttributes = new { @class = "rtl", id = "hesab", type = "number", required = "required" } })
            @Html.EditorFor(x => x.Shaba, new { HtmlAttributes = new { @class = "rtl", id = "Shaba", type = "number", inputGroup = "IR", required = "required" } })

            <div class="col-auto field-wrapper command-panel mt-4">
                @Html.Partial("_GoldButton", new GoldButton()
                {
                    ButtonType = GoldButtonTypes.submit,
                    Name = "btnBuy",
                    Icon = "fa fa-save fa-2x",
                    Class = "btn btn-success",
                    Text = "ذخیره",
                    OnClick = "GetBankAccounts()"
                })
                @Html.Partial("_GoldButton", new GoldButton()
                {
                    ButtonType = GoldButtonTypes.cancel,
                    Name = "btnCancel",
                    Text = "بازگشت",
                })
            </div>
        </form>

    }
    @using (Html.Box(title: "کارت های ذخیره شده", col: 7))
    {

        @Html.Action("GetBankAccounts", "Fund")
    }
</div>
<script>

    $(function () {

        GetBankAccounts();
       
        $('input[name="BankAccountNumber"]').inputmask("9999-9999-9999-9999");

        $('.avatar img').click(function () {
            $('.avatar img').removeClass('active');
            $(this).addClass('active');

            $('#bankId').val($(this).data('value'));
            $('#logoPath').val($(this).data('logo'));
        })

    })

    function GetBankAccounts() {
        //window.location.reload();
    }

    $('#bankForm').ajaxForm({
        validation: true,
        url: '/Fund/AddBankAccount',
        jwt: true,
        blockui: true,
        mixin: true,
        success: (res) => {

            console.log(res)
            if (res.result) {
                setTimeout(() => {
                    location.reload();
                }, 2000)

            }
        }
    });


</script>
