@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model  WalletCurrency

@{ 
    var bankCards = ViewBag.BankCards as List<WalletBankAccount>;
    var i = 0;
}

@Html.Partial("_FormTitle", new FormTitle()
{
    Icon = Html.Raw("<svg height=\"64px\" width=\"64px\" version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 512 512\" xml:space=\"preserve\" fill=\"#000000\"><g id=\"SVGRepo_bgCarrier\" stroke-width=\"0\"></g><g id=\"SVGRepo_tracerCarrier\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></g><g id=\"SVGRepo_iconCarrier\"> <path style=\"fill:#FFE14D;\" d=\"M256,133.565c-36.826,0-66.783-29.956-66.783-66.783S219.174,0,256,0s66.783,29.956,66.783,66.783 S292.826,133.565,256,133.565z\"></path> <g> <path style=\"fill:#FF9F19;\" d=\"M256,100.174c-18.413,0-33.391-14.978-33.391-33.391S237.587,33.391,256,33.391 s33.391,14.978,33.391,33.391S274.413,100.174,256,100.174z\"></path> <path style=\"fill:#FF9F19;\" d=\"M345.043,512h-33.391c-18.413,0-33.391-14.978-33.391-33.391h-77.913 c0,18.413-14.978,33.391-33.391,33.391h-33.391c-18.413,0-33.391-14.978-33.391-33.391v-25.31 c-26.87-18.022-47.435-44.501-58.218-74.864h-8.565C14.978,378.435,0,363.457,0,345.043v-33.391 c0-18.413,14.978-33.391,33.391-33.391h8.565c5.674-16.017,14.109-31.097,24.826-44.359v-89.206c0-4.843,2.098-9.44,5.761-12.614 c3.652-3.169,8.533-4.604,13.293-3.913c34.489,4.924,65.685,23.071,87.032,50.304c3.587-0.255,7.196-0.386,10.783-0.386h111.304 c82.858,0,150.261,67.408,150.261,150.261c0,50.196-25.358,97.207-66.783,124.951v25.311C378.435,497.022,363.457,512,345.043,512z \"></path> </g> <path style=\"fill:#F28618;\" d=\"M495.304,345.043c-9.217,0-16.696-7.473-16.696-16.696c0-9.206-7.49-16.696-16.696-16.696 c-9.206,0-16.696,7.49-16.696,16.696c0,9.223-7.479,16.696-16.696,16.696c-9.217,0-16.696-7.473-16.696-16.696 c0-27.619,22.468-50.087,50.087-50.087S512,300.729,512,328.348C512,337.57,504.521,345.043,495.304,345.043z\"></path> <circle style=\"fill:#A6673A;\" cx=\"133.565\" cy=\"278.261\" r=\"16.696\"></circle> <path style=\"fill:#F28618;\" d=\"M294.957,178.087H256v300.522h22.261c0,18.413,14.978,33.391,33.391,33.391h33.391 c18.413,0,33.391-14.978,33.391-33.391v-25.31c41.424-27.745,66.783-74.755,66.783-124.951 C445.217,245.495,377.815,178.087,294.957,178.087z\"></path> <path style=\"fill:#FFCC33;\" d=\"M322.783,66.783C322.783,29.956,292.826,0,256,0v133.565 C292.826,133.565,322.783,103.609,322.783,66.783z\"></path> <path style=\"fill:#F28618;\" d=\"M289.391,66.783c0-18.413-14.978-33.391-33.391-33.391v66.783 C274.413,100.174,289.391,85.196,289.391,66.783z\"></path> <path style=\"fill:#A6673A;\" d=\"M306.087,244.87H205.913c-9.217,0-16.696-7.473-16.696-16.696s7.479-16.696,16.696-16.696h100.174 c9.217,0,16.696,7.473,16.696,16.696S315.304,244.87,306.087,244.87z\"></path> <path style=\"fill:#99522E;\" d=\"M306.087,211.478H256v33.391h50.087c9.217,0,16.696-7.473,16.696-16.696 S315.304,211.478,306.087,211.478z\"></path> </g></svg>"),
    Title = " واریز پول  ",
    Description = "واریز پول از طریق درگاه آنلاین "
})

<div class="row gold-row">
    @using (Html.Box(col: 6))
    {
        <form form class="frmDeposit" id="frmDeposit" action="javascript:void(0);" novalidate>
          
            <div class="col-auto mt-3">
                <div class="form-group">
                    <label for="Amount">لطفا بانک مورد نظر را انتخاب کنید.</label>
                    <select name="BankCard" class="select2" required>
                        @foreach (var card in bankCards)
                        {
                            <option @(i <= 0 ? "selected=\"selected\"" : "")
                                    value="@card.BankAccountNumber">
                                @card.BankAccountNumber
                            </option>
                            @(i++)

                        }
                    </select>
                    <div class="invalid-feedback">
                        وارد کردن این فیلد الزامیست
                    </div>
                </div>
            </div>
            @Html.HiddenFor(x => x.WalletId, new { id = "walletId" })

            @Html.EditorFor(x => x.Amount, new { HtmlAttributes = new { @class = "rtl", id = "amount" } })
            @Html.EditorFor(x => x.Description, new { HtmlAttributes = new { id = "description" } })

            <hr />

            <div class="col-auto field-wrapper command-panel">
                @Html.Partial("_GoldButton", new GoldButton()
                {
                    ButtonType = GoldButtonTypes.submit,
                    Name = "btnDeposit",
                    Icon = "fa fa-shopping-basket fa-2x",
                    Class = "btn btn-success",
                    Text = "واریز",
                    //OnClick = "Deposit()"
                })
                @Html.Partial("_GoldButton", new GoldButton()
                {
                    ButtonType = GoldButtonTypes.cancel,
                    Name = "btnCancel",
                    Text = "برگشت",

                })
            </div>
        </form>
    }

    @using (Html.Box( col: 6))
    {
        @Html.Action("Wallet", "Fund", new { ShowButtons = false })
    }

</div>


<script>

    $('#frmDeposit').ajaxForm({

        url: '/Fund/Deposit',
        validation: true,
        jwt: true,
        blockui: true,
        mixin: true,

        success: function (res) {

            console.log(res)

            if (res.result) {
                setTimeout(() => {
                    location.reload();
                },2000)
                
            }
        },
    });

    @*function Deposit() {

        var amount = $('input[name="Amount"]').val('');
        if (amount <= 0) {
            alert("لطفا مبلغ مورد نظر را وارد نمایید.")
            return;
        }
        
        window.location.href = "http://194.60.231.81:7124/Home/Deposit?walletId="+ @Model.WalletId + "&amount=" + amount
    }*@

</script>
