@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model IEnumerable<ReportVM>
@{
    Layout = null;
}

@using (Html.Box(title: "نتیجه گزارش", col: 12, iconType: BoxIconTypes.grid))
{
    <table id="rtpTransactions" class="datatable table table-hover non-hover table-striped" style="width:100%">
        <thead class="">
            <tr>
                <th>#</th>
                <th> نوع تراکنش  </th>
                <th>  نوع ارز </th>
                <th> تاریح  </th>
                <th>مبلغ  </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="@(item.TransactionTypeId==4?"table-info":"table-default")">
                        <td>@(item.Id)</td>
                        <td class="">
                            <div class="d-flex">
                                @if (item.TransactionTypeId == 3)
                                {
                                    <div class="usr-img-frame mr-2 rounded-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon text-danger" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                                            <polyline points="23 18 13.5 8.5 8.5 13.5 1 6" />
                                            <polyline points="17 18 23 18 23 12" />
                                        </svg>
                                    </div>
                                    <p class="align-self-center mb-0 badge  badge-danger">@item.TransactionType</p>

                                }
                                else
                                {
                                    <div class="usr-img-frame mr-2 rounded-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon text-success" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                                            <polyline points="23 6 13.5 15.5 8.5 10.5 1 18" />
                                            <polyline points="17 6 23 6 23 12" />
                                        </svg>
                                    </div>
                                    <p class="align-self-center mb-0 badge   badge-success ">@item.TransactionType</p>

                                }

                            </div>
                        </td>
                        <td>@(item.SourceWalletCurrency)</td>
                        <td class="ltr">@(item.RepDate)</td>
                        <td>@(item.SourceAmount.GetValueOrDefault().ToString("N0"))  @(item.SourceWalletCurrencyId == 1 ? "ریال" : "گرم")</td>
                        <td>
                            <p class="align-self-center mb-0 badge pointer  badge-primary" onclick="ShowConfirmInfo(this)">توضیحات</p>
                            <div class="  hide table-responsive">
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>توضیحات کاربر</th>
                                            <th>توضیحات ادمین</th>
                                            <th>تاریخ  </th>
                                            <th> وضعیت  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@item.RequestDescription</td>
                                            <td>@item.ResponceDescription</td>
                                            <td>@item.ConfirmationDate</td>
                                            <td>
                                                @if (item.Status <= 0)
                                                {
                                                    <p class="align-self-center mb-0 badge pointer  badge-warning">در انتظار بررسی    </p>
                                                }
                                                else if (item.Status == 1)
                                                {
                                                    <div>
                                                        <label>اطلاعات پرداخت    </label>
                                                        <span>@(item.TransactionInfo   ?? "")</span>
                                                    </div>
                                                }
                                               
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td class="table-no-data text-center" colspan="14">داده یافت نشد</td></tr>
            }
        </tbody>
    </table>
}

<script>

    function ShowConfirmInfo(e) {
        debugger
        var info = $(e).next().html();
        swal({
            title: 'اطلاعات تایید     ',
            html: info,
            confirmButtonText: 'تائید',
            padding: '2em'
        });
    }

</script>


@Html.Partial("_LayoutReport")



