@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model  List<WalletCurrency>
@{
    Layout = null;
    var showButtons = ViewBag.ShowButtons ;
}
  
<style>
    .home-wallet .widget-heading i {
        color: darkgoldenrod;
        font-size: 25px !important;
        vertical-align: middle;
        float: left;
    }
    .home-wallet .inv-detail i {
        color: darkgoldenrod;
    }

</style>

<div class="home-wallet widget-account-invoice-one">

    <div class="widget-heading">
        
        <h5 class="">  <i class="fa fa-money"></i>  کیف پول</h5>
    </div>

    <div class="widget-content">
        <div class="invoice-box">

            <div class="acc-total-info">
                <h5>اطلاعات حساب</h5>
                @* <p class="acc-amount">@Model.Balance</p> *@
            </div>

            <div class="inv-detail">

                @foreach (var w in Model)
                {
                    <div class="info-detail-1">
                        <p class="cur-name"> <i class="fa fa-google-wallet"></i>  @w.CurrencyName </p>
                        <p class="unit"> @w.Amount.ToString("N0") <span> @w.Unit </span>  </p>
                    </div>
                }

            </div>
            @if (showButtons)
            {
                <div class="inv-action">
                    @Html.Partial("_GoldButton", new GoldButton()
                       {
                           Schema = GoldButtonSchemas.link,
                           Name = "btnDeposit",
                           Icon = "fa fa-money fa-2x",
                           Class = "btn btn-success col-md-5",
                           Text = "واریز",
                           Href = @Url.Action("Deposit", "Fund")
                       })

                    @Html.Partial("_GoldButton", new GoldButton()
                       {
                           Schema = GoldButtonSchemas.link,
                           Name = "btnWindrow",
                           Icon = "fa fa-upload fa-2x ",
                           Class = "btn btn-danger col-md-5",
                           Text = "برداشت",
                           Href = @Url.Action("Windrow", "Fund")
                       })

                </div>
            }

        </div>
    </div>

</div>
