@using G_APIs.Models
@model  List<WalletCurrency>
@{
    Layout = null;
}
<div class="widget widget-account-invoice-one">

    <div class="widget-heading">
        <h5 class="">کیف پول</h5>
    </div>

    <div class="widget-content">
        <div class="invoice-box">

            <div class="acc-total-info">
                <h5>اطلاعات حساب</h5>
                @* <p class="acc-amount">@Model.Balance</p> *@
            </div>

            <div class="inv-detail">

                <div class="info-detail-1">

                    @foreach (var w in Model)
                    {
                        <p> @w.CurrencyName</p>
                        <p> @w.Amount - @w.Unit  </p>
                    }

                </div>
                
            </div>

            <div class="inv-action">
                <a href="@Url.Action("Deposit","Fund")" class="btn btn-success">واریز</a>
                <a href="@Url.Action("Windrow","Fund")" class="btn btn-danger">برداشت</a>
            </div>
        </div>
    </div>

</div>
